* {
  margin: 0 !important;
  padding: 0;
}

a { text-decoration: none; }

body {
  text-align: center;
  color: white;
}

/*.section {
  height: 100vh;
}*/


/* This class added on scroll */
.fixed {
  position: fixed;
  background-color: rgba(255,255,255, 0.5);
  top: 0;
  height: 70px;
  z-index: 1;
}

.fixed a{
  color: #5F5EB3;
}


/* NAVIGATION SETTINGS */
nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(255,255,255, 0.5);
}

nav li {
  display: inline-block;
  padding: 24px 10px;
}

nav a {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Special Elite';
}


/* WELCOME PAGE STYLES */
#home {
  background-image: url('images/aurora.jpg');
  background-size: cover;
  height: 100vh;
}

#myName h1{
  font-size: 5em;
  font-weight: bolder;
  padding-top: 100px;
  color: #B073EC;
  font-family: 'Special Elite', cursive;
}

#myName p {
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
  color: #7FAEFF;
}

#construction{
  padding: 50px;
  color: white;
}

.home-container{

}

/* WORK STYLES*/
#work{
  background-color: #3F4372;
  background-size: cover;
}

.work-container{
  padding: 100px 0px;
  width: 90%;
  margin: 0 auto !important;
}

.projects{
  padding: 10px;
}
.project-image {
  width: 320px;
  height: 200px;
}




/* CONTACT STYLES */


#contact{
  background-color: black;
  background-size: cover;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

#headshot{
  width: 180px;
  border-radius: 20px;
}

.bio h3{
  padding: 20px;
}


.contact-links a {
  color: white;
  padding: 10px;
}

.contact-links a:hover{
  color: #7775E2;
}



/*@-ms-viewport {
  width: device-width;
}*/
