/*Fonts Being Used
font-family: 'Chonburi', cursive;
font-family: 'Special Elite','Helvetica';
font-family: 'Neuton', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Codystar', cursive;
font-family: 'Slabo 27px', serif;
*/

*{
  margin: 0;
  padding: 0;
}

a{text-decoration: none !important}

body{
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}


/* HOME */
#home{
  background-image: url('images/background.jpg');
  background-size: cover;
  height: 100vh;
}

#myName h1{
  font-size: 8em;
  font-weight: bolder;
  font-family: 'Slabo 27px', serif;
  padding-top: 200px;
  color: #F2FFFF;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8)
}

#myName p{
  font-size: 2.5em;
  font-weight: bolder;
  font-family: 'Codystar', cursive;
  color: #D4AFBB;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8)
}

#construction{
  padding: 50px;
  color: #E45A86;
}


/* NAVIGATION */
nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
nav li{
  display: inline-block;
  padding: 15px 10px;
}
nav a{
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Codystar', cursive;
}
nav a:hover{ color: #FF395D; }
nav a:focus{ color: white; }

/* NAV ON SCROLL */
.fixed{
  position: fixed;
  background-color: #522740;
  top: 0;
  height: 50px;
  z-index: 1;
}
.fixed a:hover{ color: #FF395D; }

/* PORTFOLIO STYLES*/
#portfolio{
  background-color: #393C45;
  background-size: cover;
}

.portfolio-container{
  padding: 100px 0px;
  width: 90%;
  margin: 0 auto !important;
}

.projects{
  padding: 10px;
}

.projects h3{
  padding: 10px;
}
.projects a{
  color: white;
  text-transform: uppercase;

}

.projects p{
  font-family: 'Slabo 27px', serif;
  text-align: justify;
  font-size: 16px;
}

.projects a:hover{
  color: #7775E2;
}

.project-image{
  width: 320px;
  height: 200px;
}

.project-image:hover{
  width: 480px;
  height: 300px;
}

.project-link{
  padding: 10px;
  font-family: 'Special Elite','Helvetica' !important;
  text-align: center !important;
}

/* BIO */
#bio{
  background-color: black;
  padding: 100px 0px;
}

#bio h2{
  text-align: left;
  font-size: 40px;
  font-family: 'Slabo 27px', serif;
  color: #B98E92;
  margin: -35px 0px 45px 60px;
}
#bio p{
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  font-size: 16px;
}

/* CONTACT STYLES */
#headshot{
  width: 180px;
  border-radius: 20px;
  border: 4px solid white;
}

#contact{
  background-color: #522740;
  background-size: cover;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-links a{
  color: white;
  padding: 10px;
}

.contact-links a:hover{
  color: #FF395D;
}



/*@-ms-viewport {
  width: device-width;
}*/
